<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="../assets/css/abmStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro del Cliente</title>
</head>

<body>

    <div class="container">

        <form id="ABMusuario" action="" method="post">

            <h3>Registrar Cliente</h3>
            <h4>Ingresar a continuación los datos del cliente:</h4>

            <fieldset>
                <input name="Nombre" placeholder="Nombre" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input name="Apellido" placeholder="Apellido" type="text" tabindex="2" required autofocus>
            </fieldset>

            <fieldset>
                <input name="DNI" placeholder="DNI" type="text" tabindex="3" required>
            </fieldset>

            <fieldset>
                <input name="Email" placeholder="Email" type="text" tabindex="4" required>
            </fieldset>

            <fieldset>
                <input name="Telefono" placeholder="Telefono" type="text" tabindex="5" required>
            </fieldset>

            <fieldset>
                <input name="Domicilio" placeholder="Domicilio" type="text" tabindex="6" required>
            </fieldset>

            <fieldset>
                <input name="Localidad" placeholder="Localidad" type="text" tabindex="7" required>
            </fieldset>

            <fieldset>
                <input name="Fecha" placeholder="Fecha" type="text" tabindex="8" required>
            </fieldset>

            <fieldset>
                <input name="Cuit" placeholder="Cuit" type="text" tabindex="9" required>
            </fieldset>

            <fieldset>
                <input name="CTACTE" placeholder="CTACTE" type="text" tabindex="9" required>
            </fieldset>


            <!-- <fieldset>
            <textarea placeholder="" tabindex="5" required></textarea>
          </fieldset> -->

            <button type="submit" id="btRegistrarCliente">Registrar</button>

            <button type="submit" id="btEliminarCliente">Eliminar</button>

            <button type="submit" id="btActualizarCliente">Actualizar</button>


        </form>


    </div>

</body>

</html>