<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="../assets/css/clienteStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro del Cliente</title>
</head>

<body>

    <div class="container">

        <form id="contact" action="" method="post">

            <h3>Registrar Cliente</h3>
            <h4>Ingresar a continuación los datos del cliente:</h4>

            <fieldset>
                <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="Apellido" type="text" tabindex="2" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="DNI" type="text" tabindex="3" required>
            </fieldset>

            <fieldset>
                <input placeholder="Email" type="text" tabindex="4" required>
            </fieldset>

            <fieldset>
                <input placeholder="Telefono" type="text" tabindex="5" required>
            </fieldset>

            <fieldset>
                <input placeholder="Domicilio" type="text" tabindex="6" required>
            </fieldset>

            <fieldset>
                <input placeholder="Localidad" type="text" tabindex="7" required>
            </fieldset>

            <fieldset>
                <input placeholder="Fecha" type="text" tabindex="8" required>
            </fieldset>

            <fieldset>
                <input placeholder="Cuit" type="text" tabindex="9" required>
            </fieldset>

            <fieldset>
                <input placeholder="CTACTE" type="text" tabindex="9" required>
            </fieldset>



            <!-- <fieldset>
            <textarea placeholder="" tabindex="5" required></textarea>
          </fieldset> -->

            <fieldset>
                <button name="btRegistrarCliente" type="submit" id="contact-submit" data-submit="...Sending">Registrar</button>
            </fieldset>

            <fieldset>
                <button name="btEliminarCliente" type="submit" id="contact-submit" data-submit="...Sending">Eliminar</button>
            </fieldset>

            <fieldset>
                <button name="btActualizarCliente" type="submit" id="contact-submit" data-submit="...Sending">Actualizar</button>
            </fieldset>

        </form>


    </div>

</body>

</html>