<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../assets/css/clienteStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma de Pago</title>
</head>

<body>

    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Registrar Forma de Pago</h3>
            <h4>Ingresar datos de la forma de pago:</h4>

            <fieldset>
                <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="Fecha" type="text" tabindex="2" required autofocus>
            </fieldset>


            <fieldset>
                <textarea placeholder="Descripción" tabindex="3" required></textarea>
            </fieldset>


            <!-- <fieldset>
            <textarea placeholder="Descripción" tabindex="5" required></textarea>
          </fieldset> -->

            <fieldset>
                <button name="btRegistrarformaPago" type="submit" id="AltaFormaPago-submit" data-submit="...Sending">Registrar</button>
            </fieldset>
            <fieldset>
                <button name="btEliminarformaPago" type="submit" id="EliminarFormaPago-submit" data-submit="...Sending">Eliminar</button>
            </fieldset>
            <fieldset>
                <button name="btActualizarformaPago" type="submit" id="ActualizarFormaPago-submit" data-submit="...Sending">Actualizar</button>
            </fieldset>
        </form>


    </div>


</body>

</html>