<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../assets/css/formstyles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
</head>

<!-- MODELO A SEGUIR DE DISEÑO -->
<!-- https://ventasystems.com/modulo-clientes-sistema-de-ventas-e-inventarios/ -->

<body>

    <div id="user">
        <h4>Usuario: Admin</h4>
        <h4>Rol: Admin</h4>
    </div>

    <div class="Buscador">
        <h3>Consultar producto:</h3>
        <input placeholder="Código" type="text" tabindex="1">
    </div>


    <div id="btn_buscador">
        <a href="#"> <img src="../assets/iconos/Buscador.png"></img>
        </a>
    </div>


    <nav>
        <ul>
            <li>
                <img src="../assets/iconos/usuario.png">
                <a href="./cliente.html">Usuario</img></a>
            </li>

            <li>
                <img src="../assets/iconos/producto.png"></img>
                <a href="./producto.html">Productos</a>
            </li>

            <li>
                <img src="../assets/iconos/Ventas.png">
                <a href="#">Ventas</a>
            </li>

            <li>
                <img src="../assets/iconos/Vendedores.png">
                <a href="#">Proveedores</a>
            </li>
            <li>
                <img src="../assets/iconos/Estadisticas.png">
                <a href="#"> </img>Estadisticas</a>
            </li>

            <li>
                <img src="../assets/iconos/Servicios.png">
                <a href="#">Otros</a>

                <ul>

                    <li>
                        <img src="../assets/iconos/stock.png">
                        <a href="#">Stock</a>
                    </li>

                    <li>
                        <img src="../assets/iconos/Ventas.png">
                        <a href="#">Forma de Pago</a>
                    </li>

                    <li>
                        <img src="../assets/iconos/Informes.png">
                        <a href="#"> </img>Informes</a>
                    </li>
                    <li>
                        <img src="../assets/iconos/Factura.png">
                        <a href="#"> </img>Facturas</a>
                    </li>
                </ul>
            </li>

            <!-- <li><a href="#">Contacto</a></li> -->

        </ul>
    </nav>

    <div class="grilla">


    </div>









    <!-- <div class="user">
        <h4>Usuario: Admin</h4>
        <h4>Rol: Admin</h4>
    </div>

    <div class="contenedorMenu">

        <div class="btn">
            <img src="../assets/iconos/usuario.png"></img>
            <h3 class="font">Usuario</h3>
        </div>


        <div class="btn">
            <img src="../assets/iconos/productos.png"></img>
            <h3 class="font">Productos</h3>
        </div>

        <div class="btn">
            <img src="../assets/iconos/Ventas.png"></img>
            <h3 class="font">Ventas</h3>
        </div>

        <div class="btn">
            <img src="../assets/iconos/stock.png"></img>
            <h3 class="font">Stock</h3>
        </div>

        <div class="btn">
            <img src="../assets/iconos/Informes.png"></img>
            <h3 class="font">Informes</h3>
        </div>

        <div class="btn">
            <img src="../assets/iconos/Factura.png"></img>
            <h3 class="font">Facturas</h3>
        </div>

        <div class="btn">
            <img src="../assets/iconos/Vendedores.png"></img>
            <h3 class="font">Vendedores</h3>
        </div>

    </div>

    <div class="Buscador">
        <h3>Consultar Stock:</h3>
        <input placeholder="Buscar" type="text" tabindex="1">
    </div>

    <div class="BTNbuscarStock">
        <img src="../assets/iconos/Buscador.png"></img>
    </div>




    <!-- PARA MÁS INFORMACIÓN SOBRE LAS GRILLAS: 
https://www.adictosaltrabajo.com/2018/01/30/maquetacion-con-css-grid/ -->

    <!-- <div class="grilla">

    </div> -->

</body>

</html>