<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="../assets/css/abmStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro del Producto</title>

</head>

<body>

    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Registrar Producto</h3>
            <h4>Ingresar Producto a ser dado de alta al Stock:</h4>

            <fieldset>
                <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="Cantidad" type="text" tabindex="3" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="Precio Unitario" type="text" tabindex="3" required>
            </fieldset>

            <fieldset>
                <input placeholder="Porcentaje de ganancia" type="text" tabindex="4" required>
            </fieldset>

            <fieldset>
                <textarea placeholder="Descripción" tabindex="2" required></textarea>
            </fieldset>



            <!-- <fieldset>
            <textarea placeholder="Descripción" tabindex="5" required></textarea>
          </fieldset> -->

            <fieldset>
                <button name="btRegistrarProducto" type="submit" id="AltaProducto-submit" data-submit="...Sending">Registrar</button>
            </fieldset>
            <fieldset>
                <button name="btEliminarProducto" type="submit" id="EliminarProducto-submit" data-submit="...Sending">Eliminar</button>
            </fieldset>
            <fieldset>
                <button name="btActualizarProducto" type="submit" id="ActualizarProducto-submit" data-submit="...Sending">Actualizar</button>
            </fieldset>
        </form>


    </div>

</body>

</html>