<!DOCTYPE html>
<html lang="es">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro del Producto</title>

    <link rel="stylesheet" href="../assets/css/abmStyles.css">

</head>

<body>

    <div class="container">


        <form id="FormProducto">

            <h3>Registrar Producto</h3>
            <h4>Ingresar Producto a ser dado de alta al Stock:</h4>

            <input name="Nombre" placeholder="Nombre" type="text" required autofocus>
            <input name="Cantidad" placeholder="Cantidad" type="text" required autofocus>
            <input name="PrecioUnitario" placeholder="Precio Unitario" type="text" required>
            <input name="PorcentajeGanancia" placeholder="Porcentaje de ganancia" type="text" required>
            <textarea name="Descripcion" placeholder="Descripción" type="text" required></textarea>


            <button type="submit" id="AltaProducto">Registrar</button>

            <button type="submit" id="EliminarProducto">Eliminar</button>

            <button type="submit" id="ActualizarProducto">Actualizar</button>

        </form>

    </div>


    <script src="../assets/js/abmProducto.js"></script>

</body>

</html>