<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../assets/css/abmStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PROVEEDOR</title>
</head>

<body>

    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Registrar Proveedor</h3>
            <h4>Ingresar a continuación los campos requeridos:</h4>

            <fieldset>
                <input id="Nombre" placeholder="Nombre" type="text" required autofocus>
            </fieldset>

            <fieldset>
                <input id="Vendedor" placeholder="Vendedor" type="text" required autofocus>
            </fieldset>

            <fieldset>
                <input id="ResponsableInscripto" placeholder="Responsable Inscripto" type="text" required>
            </fieldset>

            <fieldset>
                <input id="Email" placeholder="Email" type="email" required>
            </fieldset>

            <fieldset>
                <input id="Localidad" placeholder="Localidad" type="text" required>
            </fieldset>

            <fieldset>
                <input id="Direccion" placeholder="Dirección" type="text" required>
            </fieldset>


            <button type="submit" id="AltaProveedor">Registrar</button>

            <button type="submit" id="EliminarProveedor">Eliminar</button>

            <button type="submit" id="ActualizarProveedor">Actualizar</button>

        </form>
    </div>

</body>

</html>