<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../assets/css/abmStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PROVEEDOR</title>
</head>

<body>

    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Registrar Proveedor</h3>
            <h4>Ingresar a continuación los campos requeridos:</h4>

            <fieldset>
                <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="Apellido" type="text" tabindex="2" required autofocus>
            </fieldset>

            <fieldset>
                <input placeholder="DNI" type="text" tabindex="4" required>
            </fieldset>

            <fieldset>
                <input placeholder="Email" type="email" tabindex="3" required>
            </fieldset>

            <fieldset>
                <input placeholder="Telefono" type="text" tabindex="5" required>
            </fieldset>

            <fieldset>
                <input placeholder="Dirreción" type="text" tabindex="6" required>
            </fieldset>

            <fieldset>
                <input placeholder="Localidad" type="text" tabindex="7" required>
            </fieldset>

            <fieldset>
                <input placeholder="Localidad" type="text" tabindex="8" required>
            </fieldset>

            <fieldset>
                <input placeholder="Localidad" type="text" tabindex="9" required>
            </fieldset>


            <!-- <fieldset>
            <textarea placeholder="" tabindex="5" required></textarea>
          </fieldset> -->

            <fieldset>
                <button name="btRegistrarproveedor" type="submit" id="AltaProveedor-submit" data-submit="...Sending">Registrar</button>
            </fieldset>

            <fieldset>
                <button name="btEliminarproveedor" type="submit" id="EliminarProveedor-submit" data-submit="...Sending">Eliminar</button>
            </fieldset>

            <fieldset>
                <button name="btActualizarproveedor" type="submit" id="ActualizarProveedor-submit" data-submit="...Sending">Actualizar</button>
            </fieldset>
        </form>
    </div>

</body>

</html>