<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="../assets/css/abmStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro del Cliente</title>
</head>

<body>

    <div class="container">

        <form id="FormRubro">

            <h3>Registrar Rubro</h3>
            <h4>Ingresar a continuación los datos del Rubro a Registrar:</h4>

            <fieldset>
                <input name="NombreRubro" placeholder="Nombre del Rubro" type="text" tabindex="1" required autofocus>
            </fieldset>

            <fieldset>
                <input name="Descripcion" placeholder="Descripción" type="text" tabindex="2" required autofocus>
            </fieldset>


            <button type="submit" id="btRegistrar">Registrar</button>

            <button type="submit" id="btActualizar">Actualizar</button>

            <button type="submit" id="btEliminar">Eliminar</button>


        </form>


    </div>

</body>

</html>