@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-image: url(../images/ABM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

h3,
h4 {
    color: aquamarine;
    font-weight: 900;
    font-size: 2em;
}

input:hover {
    border: none;
    background: aquamarine;
    font-weight: bold;
}