body {
    background: #3498DB;
}

.btn {
    height: 80px
}

.Buscador {
    position: fixed;
    width: 405px;
    left: 296px;
}

.Buscador img {
    position: relative;
    left: 153px;
    top: 26px;
}

.Buscador img:hover {
    width: 50px;
}

.Buscador h3 {
    position: relative;
    font-family: unset;
    top: 46px;
    color: #000;
    right: 10px;
}

.Buscador input {
    position: relative;
    left: 140px;
    top: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
}

#btn_buscador {
    position: absolute;
    left: 540px;
    top: 76px;
    border-radius: 99px;
}

#btn_buscador:hover {
    background: rgb(98, 98, 98);
    width: 0.5px, 0.5px, 0.5px, 0.5px;
    transition: all 400ms
}

.opciones menu {
    border-bottom: solid;
}

.font {
    position: relative;
    width: 20px;
    height: 0px;
    left: 100px;
    bottom: 65px;
}

.grilla {
    position: fixed;
    left: 310px;
    border: solid;
    width: 720px;
    height: 390px;
    top: 179px;
    background: rgb(216, 215, 215);
}

.GrillaView {
    display: block;
    border: solid;
    border-color: black;
    padding: 10px;
    margin: 10px;
}

#user {
    position: relative;
    border: solid;
    border-color: black;
    width: 170px;
    left: 80%;
    text-align: center;
    bottom: -30px;
}


/* MENU PRINCIPAL */

nav {
    position: absolute;
    left: 30px;
    top: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    background-color: #3498DB;
    text-align: center;
    /* border: solid;
    border-color: white; */
    height: 100px;
    width: 132px;
    margin: 2px;
    font-weight: bolder;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    border: 1px solid #3498DB;
    color: #fff;
    background-color: #3498DB;
}

li a:hover {
    color: #000;
    background-color: #fff;
    transition-duration: 0.5s;
}

nav li ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
}

nav li:hover ul {
    display: block;
    left: 133px;
    top: -6px;
}